{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Delete or not</title>
</head>
<body>
    <div class="center-column">
        <p>Are you sure do you want to delete <em>"{{item}}"</em></p>
        <a href="{% url 'home' %}">cancel</a>
        <br>
        <form action="" method="POST">
            {%csrf_token%}
            <div class = "btn-container">
                <button type="submit" class="btn btn-sm btn-danger" name="delete">Delete</button>
            </div>
        </form>
    </div>
</body>
</html>